<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="NorthwindDB" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Northwind;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.7.2"/>
		<pages controlRenderingCompatibilityVersion="4.0">
			<controls>
				<add tagPrefix="lx" namespace="CustomerOrderWebForm" assembly="CustomerOrderWebForm"/>
			</controls>
		</pages>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="IQYHandler" path="*.iqy" verb="*" type="CustomerOrderWebForm.IQYHandler" resourceType="Unspecified" requireAccess="None" preCondition="integratedMode"/>
		</handlers>
	</system.webServer>	
</configuration>
